In [1]:
import pandas as pd
import numpy as np
print("DataFrame.apply function:\n")
info = pd.DataFrame([[2,7]]*3,columns=['P','Q'])
print("Original Dataframe:\n",info)
print("Sq. root:\n",info.apply(np.sqrt))
print("\nSum of each column:\n",info.apply(np.sum,axis=0))
print("\nSum of each row:\n",info.apply(np.sum,axis=1))

DataFrame.apply function:

Original Dataframe:
    P  Q
0  2  7
1  2  7
2  2  7
Sq. root:
           P         Q
0  1.414214  2.645751
1  1.414214  2.645751
2  1.414214  2.645751

Sum of each column:
 P     6
Q    21
dtype: int64

Sum of each row:
 0    9
1    9
2    9
dtype: int64

In [2]:
info = pd.DataFrame([[1,2],[3,4],[5,6]],columns=['P','Q'])
print("Original Dataframe:\n",info)

Original Dataframe:
    P  Q
0  1  2
1  3  4
2  5  6

In [3]:
info = pd.DataFrame([[1,2],[3,4],[5,6]],columns=['P','Q','R'])
print("Original Dataframe:\n",info)

ValueError: 3 columns passed, passed data had 2 columns

In [4]:
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [5]:
emp = pd.Series(['Parker','John','Nishanth'])
id = pd.Series([11,7,65])
frame = {'Emp':emp,'ID':id}
res = pd.DataFrame(frame)
print("\nSeries to Data frame\n")
print(res)

Series to Data frame

        Emp  ID
0    Parker  11
1      John   7
2  Nishanth  65

In [6]:
print("\nExtracting one column:\n")
print(res['Emp'])

Extracting one column:

0      Parker
1        John
2    Nishanth
Name: Emp, dtype: object

In [8]:
print("\nAdding new column:\n")
res['Age']=pd.Series([35,24,19])
print(res)

Adding new column:

        Emp  ID  Age
0    Parker  11   35
1      John   7   24
2  Nishanth  65   19

In [9]:
print(del res['Age'])

SyntaxError: invalid syntax (715628074.py, line 1)

In [10]:
del res['Age']
print(res)

        Emp  ID
0    Parker  11
1      John   7
2  Nishanth  65

In [11]:
print(res.loc[2])

Emp    Nishanth
ID           65
Name: 2, dtype: object

In [12]:
print(res[0:2])

      Emp  ID
0  Parker  11
1    John   7

In [17]:
d2 = pd.DataFrame([['Nirmal',64],['Abu',98]],columns=['Emp','ID'])
print(res.append(d2))

        Emp  ID
0    Parker  11
1      John   7
2  Nishanth  65
0    Nirmal  64
1       Abu  98

C:\Users\Tcs\AppData\Local\Temp\ipykernel_10500\2781548884.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  print(res.append(d2))

In [14]:
print(res.drop(1))

        Emp  ID
0    Parker  11
2  Nishanth  65

In [18]:
print(res)

        Emp  ID
0    Parker  11
1      John   7
2  Nishanth  65

In [19]:
print("DataFrame.apply function:\n")
info = pd.DataFrame([[2,7]]*3,columns=['P','Q'])
print("Original Dataframe:\n",info)
print("Sq. root:\n",info.apply(np.sqrt))
print("\nSum of each column:\n",info.apply(np.sum,axis=0))
print("\nSum of each row:\n",info.apply(np.sum,axis=1))

DataFrame.apply function:

Original Dataframe:
    P  Q
0  2  7
1  2  7
2  2  7
Sq. root:
           P         Q
0  1.414214  2.645751
1  1.414214  2.645751
2  1.414214  2.645751

Sum of each column:
 P     6
Q    21
dtype: int64

Sum of each row:
 0    9
1    9
2    9
dtype: int64

In [20]:
info = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]],columns=['A','B','C'])
print("\nOriginal DataFrame:\n",info)
print("\nMinimum and Maximum of each column:\n")
print(info.agg(['min','max']))

Original DataFrame:
    A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

Minimum and Maximum of each column:

     A  B  C
min  1  2  3
max  7  8  9

In [22]:
print("\nDataFrame.Assign function:\n")
d2 = pd.DataFrame([['Nirmal',64],['Abu',98]])
d=d2.assign(Sex=['M','M'])
print(d)

DataFrame.Assign function:

        0   1 Sex
0  Nirmal  64   M
1     Abu  98   M

In [3]:
import pandas as pd
import numpy as np
print("\nDataFrame.Sort function:\n")
info = pd.DataFrame(np.random.randn(5,2),index=[3,2,0,4,1],columns=['col3','col4'])
print(info)
info2 = info.sort_index()
print("\nSort index:\n",info2)
info3 = info.sort_values(by='col3')
print("\nSort Values:\n",info3)

DataFrame.Sort function:

       col3      col4
3  0.139280  0.802822
2  0.201870 -1.380021
0 -1.665865 -2.095183
4 -1.281638  1.088080
1 -2.716871 -0.328608

Sort index:
        col3      col4
0 -1.665865 -2.095183
1 -2.716871 -0.328608
2  0.201870 -1.380021
3  0.139280  0.802822
4 -1.281638  1.088080

Sort Values:
        col3      col4
1 -2.716871 -0.328608
0 -1.665865 -2.095183
4 -1.281638  1.088080
3  0.139280  0.802822
2  0.201870 -1.380021

In [4]:
print("\nDataFrame.Merge function:\n")
left = pd.DataFrame({
    'id':[1,2,3,4,5],
    'Name':['Sooriya','Rahul','Abu','Nirmal','Selva'],
    'sub':['sub1','sub2','sub4','sub6','sub5']
})
right = pd.DataFrame({
    'id':[1,2,3,4,5],
    'Name':['Billy','Brian','Bran','Bryce','Betty'],
    'sub':['sub2','sub4','sub3','sub6','sub5']
})
print(left)
print(right)
print(pd.merge(left,right,on='id'))

DataFrame.Merge function:

   id     Name   sub
0   1  Sooriya  sub1
1   2    Rahul  sub2
2   3      Abu  sub4
3   4   Nirmal  sub6
4   5    Selva  sub5
   id   Name   sub
0   1  Billy  sub2
1   2  Brian  sub4
2   3   Bran  sub3
3   4  Bryce  sub6
4   5  Betty  sub5
   id   Name_x sub_x Name_y sub_y
0   1  Sooriya  sub1  Billy  sub2
1   2    Rahul  sub2  Brian  sub4
2   3      Abu  sub4   Bran  sub3
3   4   Nirmal  sub6  Bryce  sub6
4   5    Selva  sub5  Betty  sub5

In [5]:
print("\nDataFrame.Merge function:\n")
left = pd.DataFrame({
    'id':[1,2,3,4,5],
    'Name':['Sooriya','Rahul','Abu','Nirmal','Selva'],
    'sub':['sub1','sub2','sub4','sub6','sub5']
})
right = pd.DataFrame({
    'id':[5,4,3,2,1],
    'Name':['Billy','Brian','Bran','Bryce','Betty'],
    'sub':['sub2','sub4','sub3','sub6','sub5']
})
print(left)
print(right)
print(pd.merge(left,right,on='id'))

DataFrame.Merge function:

   id     Name   sub
0   1  Sooriya  sub1
1   2    Rahul  sub2
2   3      Abu  sub4
3   4   Nirmal  sub6
4   5    Selva  sub5
   id   Name   sub
0   5  Billy  sub2
1   4  Brian  sub4
2   3   Bran  sub3
3   2  Bryce  sub6
4   1  Betty  sub5
   id   Name_x sub_x Name_y sub_y
0   1  Sooriya  sub1  Betty  sub5
1   2    Rahul  sub2  Bryce  sub6
2   3      Abu  sub4   Bran  sub3
3   4   Nirmal  sub6  Brian  sub4
4   5    Selva  sub5  Billy  sub2

In [6]:
arr = np.array(['P','a','n','d','a','s'])
a = pd.Series(arr)
print(a)

0    P
1    a
2    n
3    d
4    a
5    s
dtype: object

In [7]:
arr = {'x':0,'y':1,'z':2}
b = pd.Series(arr)
print(b)

x    0
y    1
z    2
dtype: int64

In [8]:
x= pd.Series(4,index=[0,1,2,3])
print(x)

0    4
1    4
2    4
3    4
dtype: int64

In [9]:
x= pd.Series([1,2,3],index=['a','b','c'])
print(x)

a    1
b    2
c    3
dtype: int64

In [10]:
a = pd.Series(data=[1,2,3,4])
print(a)
print(a.index)
print(a.values)
print(a.shape)
print(a.ndim)
print(a.size)

0    1
1    2
2    3
3    4
dtype: int64
RangeIndex(start=0, stop=4, step=1)
[1 2 3 4]
(4,)
1
4