In [5]:
import pandas as pd
df = pd.DataFrame({
    'Name':['Nishanth','Abu','Selva','Sooriya','Rahul','Maanesh'],
    'Marks':[65,56,56,78,45,65],
    'Roll_no':[65,98,95,105,78,106]
})
print("Original DataFrame:\n",df)

Original DataFrame:
        Name  Marks  Roll_no
0  Nishanth     65       65
1       Abu     56       98
2     Selva     56       95
3   Sooriya     78      105
4     Rahul     45       78
5   Maanesh     65      106

In [6]:
grouped = df.groupby('Marks')
print("Group by Marks 65:\n",grouped.get_group(65))

Group by Marks 65:
        Name  Marks  Roll_no
0  Nishanth     65       65
5   Maanesh     65      106

In [10]:
df = pd.DataFrame({
    'Name':['Nishanth','Abu','Selva','Sooriya','Rahul','Maanesh'],
    'Marks':[65,56,56,78,45,65],
    'Roll_no':[65,98,95,105,78,106]})
nd = df[df.duplicated('Marks')]
print(nd)

      Name  Marks  Roll_no
2    Selva     56       95
5  Maanesh     65      106

In [13]:
details = pd.DataFrame({
    'ID':[1,2,3,4,5],
    'Name':['Nishanth','Abu','Selva','Sooriya','Rahul'],
    'Branch':['EEE','Mech','ECE','AE','ECE']
})
fees_status = pd.DataFrame({
    'ID':[1,2,3,4,5],
    'Pending':['NIL',9885,9576,105901,7875],
})
print('\nMerged Dataframe:\n',pd.merge(details,fees_status,on='ID'))

Merged Dataframe:
    ID      Name Branch Pending
0   1  Nishanth    EEE     NIL
1   2       Abu   Mech    9885
2   3     Selva    ECE    9576
3   4   Sooriya     AE  105901
4   5     Rahul    ECE    7875