In [9]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'A': ['sai', 'poo', 'sub', 'yuvi', 'rithi', 'sangu'],
                   'B': ['one', 'two', 'three', 'one', 'three', 'two'],
                   'C': np.random.randint(5, size=6),
                   'D': np.random.randint(5, size=6),
                   'E': np.random.randint(5, size=6)})
print("\nOriginal DataFrame\n",df)

Original DataFrame
        A      B  C  D  E
0    sai    one  4  0  4
1    poo    two  0  3  2
2    sub  three  4  4  0
3   yuvi    one  0  4  4
4  rithi  three  0  3  3
5  sangu    two  3  1  2

In [10]:
df1 = df.groupby(['A', 'B'], as_index=False)['C'].sum()
print("\nOriginal DataFrame\n",df)
print("\nGroup by (multi-column): with one column sum\n",df1)

Original DataFrame
        A      B  C  D  E
0    sai    one  4  0  4
1    poo    two  0  3  2
2    sub  three  4  4  0
3   yuvi    one  0  4  4
4  rithi  three  0  3  3
5  sangu    two  3  1  2

Group by (multi-column): with one column sum
        A      B  C
0    poo    two  0
1  rithi  three  0
2    sai    one  4
3  sangu    two  3
4    sub  three  4
5   yuvi    one  0

In [11]:
df2 = df.groupby(['A', 'B'], as_index=False).sum()
print("\nOriginal DataFrame\n",df)
print("\nGroup by (multi-column): with multi columns sum\n",df2)

Original DataFrame
        A      B  C  D  E
0    sai    one  4  0  4
1    poo    two  0  3  2
2    sub  three  4  4  0
3   yuvi    one  0  4  4
4  rithi  three  0  3  3
5  sangu    two  3  1  2

Group by (multi-column): with multi columns sum
        A      B  C  D  E
0    poo    two  0  3  2
1  rithi  three  0  3  3
2    sai    one  4  0  4
3  sangu    two  3  1  2
4    sub  three  4  4  0
5   yuvi    one  0  4  4

In [14]:
df3 = df.groupby(['A', 'B'], as_index=False)['C'].agg('sum')
print("\nOriginal DataFrame\n",df)
print("\nCombined Groupby and Aggregate function\n",df3)

Original DataFrame
        A      B  C  D  E
0    sai    one  4  0  4
1    poo    two  0  3  2
2    sub  three  4  4  0
3   yuvi    one  0  4  4
4  rithi  three  0  3  3
5  sangu    two  3  1  2

Combined Groupby and Aggregate function
        A      B  C
0    poo    two  0
1  rithi  three  0
2    sai    one  4
3  sangu    two  3
4    sub  three  4
5   yuvi    one  0

In [17]:
df4 = (df.groupby(['A', 'B']).agg([('average', 'mean'), ('total', 'sum')]))
print("\nOriginal DataFrame\n",df)
print("\nCombined Groupby and Aggregate function-separate column headings\n",df4)

Original DataFrame
        A      B  C  D  E
0    sai    one  4  0  4
1    poo    two  0  3  2
2    sub  three  4  4  0
3   yuvi    one  0  4  4
4  rithi  three  0  3  3
5  sangu    two  3  1  2

Combined Groupby and Aggregate function-separate column headings
                   C             D             E
            average total average total average total
A     B
poo   two       0.0     0     3.0     3     2.0     2
rithi three     0.0     0     3.0     3     3.0     3
sai   one       4.0     4     0.0     0     4.0     4
sangu two       3.0     3     1.0     1     2.0     2
sub   three     4.0     4     4.0     4     0.0     0
yuvi  one       0.0     0     4.0     4     4.0     4

In [19]:
df5 = df.groupby(['A', 'B'], as_index=False).sum()
df6 = (df.groupby(['A', 'B']).agg(['sum']))
print("\nOriginal DataFrame\n",df)
print("\nGroupby-sum function\n",df5)
print("\nGroupby and Aggregate - sum function\n",df6)

Original DataFrame
        A      B  C  D  E
0    sai    one  4  0  4
1    poo    two  0  3  2
2    sub  three  4  4  0
3   yuvi    one  0  4  4
4  rithi  three  0  3  3
5  sangu    two  3  1  2

Groupby-sum function
        A      B  C  D  E
0    poo    two  0  3  2
1  rithi  three  0  3  3
2    sai    one  4  0  4
3  sangu    two  3  1  2
4    sub  three  4  4  0
5   yuvi    one  0  4  4

Groupby and Aggregate - sum function
               C   D   E
            sum sum sum
A     B
poo   two     0   3   2
rithi three   0   3   3
sai   one     4   0   4
sangu two     3   1   2
sub   three   4   4   0
yuvi  one     0   4   4