In [4]:
import pandas as pd
df = pd.DataFrame({'Animal' : ['Tiger','Lion','Cheetah','Deer'],
                   'Max speed' : ['130','110','180','160']})
print(df)

    Animal Max speed
0    Tiger       130
1     Lion       110
2  Cheetah       180
3     Deer       160

In [5]:
b=df.groupby(['Animal']).sum()
print("\nOriginal DataFrame\n",df)
print("\nGroup by through Column using sum\n",b)

Original DataFrame
     Animal Max speed
0    Tiger       130
1     Lion       110
2  Cheetah       180
3     Deer       160

Group by through Column using sum
         Max speed
Animal
Cheetah       180
Deer          160
Lion          110
Tiger         130

In [6]:
c=df.groupby(['Animal']).count()
print("\nOriginal DataFrame\n",df)
print("\nGroup by through Column using count\n",c)

Original DataFrame
     Animal Max speed
0    Tiger       130
1     Lion       110
2  Cheetah       180
3     Deer       160

Group by through Column using count
          Max speed
Animal
Cheetah          1
Deer             1
Lion             1
Tiger            1

In [7]:
d=df.groupby(['Animal']).first() 
print("\nOriginal DataFrame\n",df)
print("\nGroup by through Column using first\n",d)

Original DataFrame
     Animal Max speed
0    Tiger       130
1     Lion       110
2  Cheetah       180
3     Deer       160

Group by through Column using first
         Max speed
Animal
Cheetah       180
Deer          160
Lion          110
Tiger         130

In [8]:
e=df.groupby(['Animal']).last()
print("\nOriginal DataFrame\n",df)
print("\nGroup by through Column using last\n",e)

Original DataFrame
     Animal Max speed
0    Tiger       130
1     Lion       110
2  Cheetah       180
3     Deer       160

Group by through Column using last
         Max speed
Animal
Cheetah       180
Deer          160
Lion          110
Tiger         130

In [9]:
f=df.groupby(['Animal']).size()
print("\nOriginal DataFrame\n",df)
print("\nGroup by through Column using size\n",f)

Original DataFrame
     Animal Max speed
0    Tiger       130
1     Lion       110
2  Cheetah       180
3     Deer       160

Group by through Column using size
 Animal
Cheetah    1
Deer       1
Lion       1
Tiger      1
dtype: int64