In [3]:
import pandas as pd
data = {'Name':['Nishanth','Abu','Selva','Sooriya','Rahul'],
       'Age':[20,98,95,105,78],
       'Gender':['M','F','M','F','M'],
       'Marks':[68,10,'NaN','NaN',99]}
df = pd.DataFrame(data)
print("Original Values:\n",df)

Original Values:
        Name  Age Gender Marks
0  Nishanth   20      M    68
1       Abu   98      F    10
2     Selva   95      M   NaN
3   Sooriya  105      F   NaN
4     Rahul   78      M    99

In [6]:
c = avg = 0
for ele in df['Marks']:
    if str(ele).isnumeric():
        c+=1
        avg+=ele
avg/=c
df = df.replace(to_replace = 'NaN',value = avg)
print("Replacing values:\n ",df)

Replacing values:
         Name  Age Gender  Marks
0  Nishanth   20      M   68.0
1       Abu   98      F   10.0
2     Selva   95      M   59.0
3   Sooriya  105      F   59.0
4     Rahul   78      M   99.0

In [15]:
df = df[df['Marks']>=75]

print(df)

    Name Gender  Marks
4  Rahul      M   99.0

In [17]:
df  = df.drop(['Gender'],axis = 1)
print(df)

    Name  Marks
4  Rahul   99.0

In [18]:
a = pd.DataFrame({
    'Name':['Nishanth','Manish'],
    'Age':[20,22],
    'Marks':[65,75]
},
index = [1,2])
b = pd.DataFrame({
    'Name':['Nallusamy','Maheswari'],
    'Age':[52,45],
    'Marks':[98,99]
},
index = [1,2])
print("Concatenated DataFrame",pd.concat([a,b]))

Concatenated DataFrame         Name  Age  Marks
1   Nishanth   20     65
2     Manish   22     75
1  Nallusamy   52     98
2  Maheswari   45     99