In [19]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(5,3),index=['a','c','e','f','h'],columns=['one','two','three'])
print(df)
df = df.reindex(['a','b','c','d','e','f','g','h'])
print('Reindex',df)
print('After filled ',df.fillna(0))
print('Dropped Values',df.dropna())
print('Null check',df['one'].isnull())
print('Replacing NaN values with forward values',df.fillna(method='pad'))
print('Replacing with backward values',df.fillna(method='bfill'))

df = pd.DataFrame({'one':[10,20,30,40],'two':[1000,0,30,90]})
print("Another Dataframe",df)
print('Replaced Values',df.replace({1000:20,90:2000,}))

        one       two     three
a -0.406845 -0.400249 -1.174178
c -1.336862  0.757421  0.387459
e -0.337761 -0.792673 -0.703838
f -1.845831  0.411793  1.505892
h  0.776262  1.006824  0.881395
Reindex         one       two     three
a -0.406845 -0.400249 -1.174178
b       NaN       NaN       NaN
c -1.336862  0.757421  0.387459
d       NaN       NaN       NaN
e -0.337761 -0.792673 -0.703838
f -1.845831  0.411793  1.505892
g       NaN       NaN       NaN
h  0.776262  1.006824  0.881395
After filled          one       two     three
a -0.406845 -0.400249 -1.174178
b  0.000000  0.000000  0.000000
c -1.336862  0.757421  0.387459
d  0.000000  0.000000  0.000000
e -0.337761 -0.792673 -0.703838
f -1.845831  0.411793  1.505892
g  0.000000  0.000000  0.000000
h  0.776262  1.006824  0.881395
Dropped Values         one       two     three
a -0.406845 -0.400249 -1.174178
c -1.336862  0.757421  0.387459
e -0.337761 -0.792673 -0.703838
f -1.845831  0.411793  1.505892
h  0.776262  1.006824  0.881395
Null check a    False
b     True
c    False
d     True
e    False
f    False
g     True
h    False
Name: one, dtype: bool
Replacing NaN values with forward values         one       two     three
a -0.406845 -0.400249 -1.174178
b -0.406845 -0.400249 -1.174178
c -1.336862  0.757421  0.387459
d -1.336862  0.757421  0.387459
e -0.337761 -0.792673 -0.703838
f -1.845831  0.411793  1.505892
g -1.845831  0.411793  1.505892
h  0.776262  1.006824  0.881395
Replacing with backward values         one       two     three
a -0.406845 -0.400249 -1.174178
b -1.336862  0.757421  0.387459
c -1.336862  0.757421  0.387459
d -0.337761 -0.792673 -0.703838
e -0.337761 -0.792673 -0.703838
f -1.845831  0.411793  1.505892
g  0.776262  1.006824  0.881395
h  0.776262  1.006824  0.881395
Another Dataframe    one   two
0   10  1000
1   20     0
2   30    30
3   40    90
Replaced Values    one   two
0   10    20
1   20     0
2   30    30
3   40  2000