In [2]:
import pandas as pd
import numpy as np
from datetime import datetime
dates = [datetime(2011, 1, 2),
         datetime(2011, 1, 5),
         datetime(2011, 1, 7),
         datetime(2011, 1, 8),
         datetime(2011, 1, 10),
         datetime(2011, 1, 12)]
ts = pd.Series(np.random.randn(6), index=dates)
print("Date Index \n",ts)

Date Index
 2011-01-02    0.958896
2011-01-05    1.518237
2011-01-07    0.498470
2011-01-08    1.004065
2011-01-10    0.273683
2011-01-12    0.686696
dtype: float64

In [3]:
print("\nDate Index alone from the series: \n",ts.index)

Date Index alone from the series:
 DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [4]:
stamp=ts.index[2]
print("\nSecond index:\n", stamp)

Second index:
 2011-01-07 00:00:00

In [8]:
longer_ts=pd.Series(np.random.randn(1000),
                    index=pd.date_range("2000-01-01",periods=1000))
print("\nDaterange up to 1000 days:\n",longer_ts)

Daterange up to 1000 days:
 2000-01-01    0.909254
2000-01-02   -0.308572
2000-01-03   -0.878563
2000-01-04    1.378312
2000-01-05    0.149348
                ...
2002-09-22    0.747702
2002-09-23   -0.578071
2002-09-24    0.880173
2002-09-25    1.454115
2002-09-26   -0.748836
Freq: D, Length: 1000, dtype: float64

In [10]:
print("\nDate range-2001 year:\n", longer_ts["2001"])

Date range-2001 year:
 2001-01-01    0.288750
2001-01-02    1.302220
2001-01-03    1.239722
2001-01-04    1.662038
2001-01-05   -0.675774
                ...
2001-12-27    0.359164
2001-12-28    0.415595
2001-12-29   -2.042460
2001-12-30   -0.305046
2001-12-31    0.561015
Freq: D, Length: 365, dtype: float64

In [11]:
print("\nDate range-05 month 2001 year:\n", longer_ts["2001-05"])

Date range-05 month 2001 year:
 2001-05-01    1.149221
2001-05-02   -0.274249
2001-05-03   -0.885615
2001-05-04    1.006639
2001-05-05    1.032286
2001-05-06   -0.375445
2001-05-07   -0.015351
2001-05-08    2.632341
2001-05-09    0.942988
2001-05-10    0.148454
2001-05-11    0.096339
2001-05-12    0.314469
2001-05-13   -1.367820
2001-05-14    1.764410
2001-05-15   -0.432735
2001-05-16   -1.616693
2001-05-17    0.520035
2001-05-18    1.177665
2001-05-19    1.140262
2001-05-20   -0.583505
2001-05-21   -1.047121
2001-05-22   -1.114520
2001-05-23   -0.444466
2001-05-24   -1.591377
2001-05-25   -0.883574
2001-05-26    2.232991
2001-05-27   -0.212809
2001-05-28   -0.460765
2001-05-29    1.682508
2001-05-30   -0.188502
2001-05-31    1.420510
Freq: D, dtype: float64

In [13]:
print("\nDate range-first few dates in 2000 year:\n",longer_ts["2000"].head())

Date range-first few dates in 2000 year:
 2000-01-01    0.909254
2000-01-02   -0.308572
2000-01-03   -0.878563
2000-01-04    1.378312
2000-01-05    0.149348
Freq: D, dtype: float64

In [14]:
print("\nDate range-first 15 dates in 02 month 2001 year:\n",longer_ts["2000-02"].head(15))

Date range-first 15 dates in 02 month 2001 year:
 2000-02-01   -0.600622
2000-02-02    1.301964
2000-02-03   -0.069307
2000-02-04    1.171015
2000-02-05    0.359115
2000-02-06    1.400178
2000-02-07    0.603573
2000-02-08    0.659956
2000-02-09   -0.943143
2000-02-10    1.696241
2000-02-11    0.086739
2000-02-12   -1.201918
2000-02-13   -0.144311
2000-02-14    3.374726
2000-02-15    0.625090
Freq: D, dtype: float64

In [18]:
print("\nDate range-rom 26-9-2001:\n",longer_ts[datetime(2000,9,26):])

Date range-rom 26-9-2001:
 2000-09-26   -0.074558
2000-09-27   -0.473156
2000-09-28    1.000542
2000-09-29    0.224639
2000-09-30   -0.724497
                ...
2002-09-22    0.747702
2002-09-23   -0.578071
2002-09-24    0.880173
2002-09-25    1.454115
2002-09-26   -0.748836
Freq: D, Length: 731, dtype: float64

In [20]:
print("\nDate range from 26-9-2001 to 25-9- 2002:\n",longer_ts[datetime(2001,9,26):datetime(2002,9,25)])

Date range from 26-9-2001 to 25-9- 2002:
 2001-09-26    0.334055
2001-09-27    0.354986
2001-09-28    0.098503
2001-09-29    0.806799
2001-09-30   -0.236213
                ...
2002-09-21   -0.316842
2002-09-22    0.747702
2002-09-23   -0.578071
2002-09-24    0.880173
2002-09-25    1.454115
Freq: D, Length: 365, dtype: float64